h1 {
  font-size: 28.8px;
  color: black; }

h2 {
  font-size: 24px;
  color: black; }

h3 {
  font-size: 19.2px;
  color: black; }

h4 {
  font-size: 16px;
  color: black; }

p, span {
  color: #7a7a7a; }

button:hover {
  opacity: 0.7; }

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Commissioner' , sans-serif;
  font-weight: 400, 500, 700; }

/* header */
header {
  width: 100%;
  height: 400px;
  padding: 40px;
  padding-left: 130px;
  background: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between; }
  header img {
    width: 150px;
    height: 25px; }
  header nav {
    margin-right: 80px; }
    header nav li {
      list-style-type: none;
      display: inline-block;
      margin-left: 40px; }
      header nav li a {
        text-decoration: none;
        color: #e6e6e6;
        transition: all 0.3s ease-in-out; }
      header nav li a:hover {
        text-decoration: none;
        color: white;
        border-bottom: 4px solid #3cb4ac;
        padding-bottom: 25px; }
  header .inside-burger, header .inside-burger2, header .burger, header .close {
    display: none;
    visibility: hidden;
    position: absolute; }

/* section 1 */
.mastercraft {
  margin: 50px auto;
  width: 60%;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 0px 0.05px #7a7a7a;
  height: 330px;
  text-align: center;
  margin-top: -100px; }
  .mastercraft img {
    text-align: center;
    width: 50px;
    height: 50px;
    margin-top: -50px; }
  .mastercraft h1 {
    text-align: center; }
  .mastercraft p {
    text-align: center;
    margin-top: 20px; }
  .mastercraft .buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 250px;
    margin-top: 40px; }
    .mastercraft .buttons div {
      width: 300px; }
      .mastercraft .buttons div button {
        width: 100%;
        height: 65px;
        background-color: #3cb4ac;
        border-radius: 120px;
        border: 1px solid white;
        text-align: center;
        transition: all 0.3s ease-in-out;
        color: white; }
    .mastercraft .buttons div:nth-of-type(2) {
      /*	background: url("../images/icon-bookmark.svg") 10px 10px no-repeat;  */
      width: 200px; }
      .mastercraft .buttons div:nth-of-type(2) i {
        position: absolute;
        margin-top: 3px;
        margin-left: 2px;
        width: 60px;
        height: 59px;
        cursor: pointer;
        font-size: 18px;
        padding-top: 20px;
        border-radius: 120px;
        text-align: center;
        color: #c3c3c3;
        background-color: dimgrey; }
      .mastercraft .buttons div:nth-of-type(2) button {
        background-color: #3cb4ac;
        border-radius: 120px;
        border: 1px solid white;
        text-align: center;
        transition: all 0.3s ease-in-out;
        color: white;
        background-color: #eaeaea;
        color: dimgrey;
        width: 200px;
        height: 65px;
        padding-left: 25%; }
      .mastercraft .buttons div:nth-of-type(2) button:hover {
        opacity: 1; }
    .mastercraft .buttons div:last-of-type {
      display: none;
      width: 200px; }
      .mastercraft .buttons div:last-of-type i {
        position: absolute;
        padding-top: 20px;
        font-size: 18px;
        margin-top: 3px;
        margin-left: 2px;
        width: 60px;
        height: 59px;
        cursor: pointer;
        color: white;
        background-color: #3cb4ac;
        border-radius: 120px;
        text-align: center; }
      .mastercraft .buttons div:last-of-type button {
        background-color: #3cb4ac;
        border-radius: 120px;
        border: 1px solid white;
        text-align: center;
        transition: all 0.3s ease-in-out;
        color: white;
        background-color: #eaeaea;
        width: 200px;
        height: 65px;
        padding-left: 25%;
        color: #3cb4ac; }
      .mastercraft .buttons div:last-of-type button:hover {
        opacity: 1; }

/* section 2 */
.numbers {
  margin: 50px auto;
  width: 60%;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 0px 0.05px #7a7a7a;
  height: 260px;
  margin-top: 50px; }
  .numbers .price {
    display: flex; }
    .numbers .price div:first-of-type {
      margin-left: 5%; }
    .numbers .price div:nth-of-type(2), .numbers .price div:last-of-type {
      margin-left: -15%; }
    .numbers .price hr {
      height: 80px;
      border: 1px solid #7a7a7a;
      margin-left: 5%; }
  .numbers .input {
    margin-left: 5%;
    margin-top: 40px; }
    .numbers .input meter {
      width: 95%;
      border-radius: 20px;
      height: 30px; }
    .numbers .input meter::-webkit-meter-optimum-value {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 0 5px 5px -5px #999 inset;
      background-color: #3cb4ac; }

/* section 3 */
.about-project {
  margin: 50px auto;
  width: 60%;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 0px 0.05px #7a7a7a;
  height: 1400px;
  margin-top: 50px;
  padding-left: 5%; }
  .about-project p {
    margin-top: 40px; }
  .about-project article {
    margin: 50px auto;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 0px 0.05px #7a7a7a;
    height: 320px;
    margin: 0px;
    margin-top: 40px;
    padding: 40px;
    width: 95%;
    box-shadow: 0px 0px 0px 0.25px #7a7a7a; }
    .about-project article div {
      display: flex;
      justify-content: space-between;
      /*	justify-content: space-around;
      	column-gap: 200px; */ }
    .about-project article label {
      color: #147b74;
      margin-top: 20px;
      cursor: pointer; }
    .about-project article label:hover {
      opacity: 0.7; }
    .about-project article p, .about-project article div:last-of-type {
      margin-top: 30px; }
    .about-project article span {
      position: relative;
      top: -5px;
      margin-left: 5px;
      font-size: 15px; }
    .about-project article button {
      background-color: #3cb4ac;
      border-radius: 120px;
      border: 1px solid white;
      text-align: center;
      transition: all 0.3s ease-in-out;
      color: white;
      height: 50px;
      width: 170px; }
  .about-project article:last-of-type {
    opacity: 0.5; }
    .about-project article:last-of-type button {
      background-color: #7a7a7a; }
    .about-project article:last-of-type button:hover {
      opacity: 1; }

/* hidden divs */
/* rewards */
.reward {
  display: none;
  visibility: visible;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 10%;
  margin: 50px auto;
  width: 80%;
  height: 250px;
  padding: 20px;
  background-color: #efefef;
  border-radius: 20px;
  box-shadow: 0px 0px 40px #3cb4ac;
  visibility: visible;
  position: fixed;
  top: 170px;
  height: 450px;
  box-shadow: 0px 0px 10px #3cb4ac;
  animation: showReward 0.5s ease-in-out normal forwards; }
  .reward li {
    list-style-type: none;
    margin-top: 40px; }
    .reward li a {
      color: black;
      text-decoration: none;
      transition: all 0.3s ease-in-out; }
    .reward li a:hover {
      color: #3cb4ac;
      border-bottom: 4px solid #3cb4ac;
      padding-bottom: 15px; }
  .reward h2, .reward p, .reward button {
    margin-top: 45px; }
  .reward button {
    background-color: #3cb4ac;
    border-radius: 120px;
    border: 1px solid white;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: white;
    width: 140px;
    height: 50px; }
@keyframes showReward {
  from {
    margin-top: -500px; }
  to {
    margin-top: 0px; } }
/* back this project */
.backProject {
  display: none;
  visibility: visible;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 10%;
  margin: 50px auto;
  width: 80%;
  height: 250px;
  padding: 20px;
  background-color: #efefef;
  border-radius: 20px;
  box-shadow: 0px 0px 40px #3cb4ac;
  visibility: visible;
  width: 60%;
  position: absolute;
  top: 170px;
  left: 20%;
  padding-left: 70px;
  height: 1200px;
  text-align: left;
  box-shadow: 0px 0px 10px #3cb4ac;
  animation: showReward 0.5s ease-in-out normal forwards; }
  .backProject li {
    list-style-type: none;
    margin-top: 40px; }
    .backProject li a {
      color: black;
      text-decoration: none;
      transition: all 0.3s ease-in-out; }
    .backProject li a:hover {
      color: #3cb4ac;
      border-bottom: 4px solid #3cb4ac;
      padding-bottom: 15px; }
  .backProject p {
    margin-top: 20px; }
  .backProject img {
    float: right;
    cursor: pointer;
    margin-top: -70px;
    margin-right: 2%; }
  .backProject .pledge, .backProject .bamboo, .backProject .black, .backProject .mahogany {
    margin-top: 50px;
    width: 90%;
    height: 200px;
    border: 0.5px solid #7a7a7a;
    cursor: pointer;
    padding-left: 30px;
    padding: 20px; }
    .backProject .pledge p, .backProject .bamboo p, .backProject .black p, .backProject .mahogany p {
      margin-top: 10px;
      margin-left: 60px; }
    .backProject .pledge div i, .backProject .bamboo div i, .backProject .black div i, .backProject .mahogany div i {
      opacity: 1;
      font-size: 30px;
      color: #dddddd; }
    .backProject .pledge div #circle-inside-pledge, .backProject .pledge div #circle-inside-bamboo, .backProject .pledge div #circle-inside-black, .backProject .pledge div #circle-inside-mahogany, .backProject .bamboo div #circle-inside-pledge, .backProject .bamboo div #circle-inside-bamboo, .backProject .bamboo div #circle-inside-black, .backProject .bamboo div #circle-inside-mahogany, .backProject .black div #circle-inside-pledge, .backProject .black div #circle-inside-bamboo, .backProject .black div #circle-inside-black, .backProject .black div #circle-inside-mahogany, .backProject .mahogany div #circle-inside-pledge, .backProject .mahogany div #circle-inside-bamboo, .backProject .mahogany div #circle-inside-black, .backProject .mahogany div #circle-inside-mahogany {
      display: none;
      opacity: 1;
      z-index: 10000;
      color: #3cb4ac;
      font-size: 18px;
      position: absolute;
      margin-top: -24px;
      margin-left: 6px; }
    .backProject .pledge div h4:first-of-type, .backProject .bamboo div h4:first-of-type, .backProject .black div h4:first-of-type, .backProject .mahogany div h4:first-of-type {
      display: inline-block;
      position: relative;
      top: -5px;
      margin-left: 30px; }
    .backProject .pledge div label, .backProject .bamboo div label, .backProject .black div label, .backProject .mahogany div label {
      color: #3cb4ac;
      display: inline-block;
      margin-left: 20px;
      position: relative;
      top: -5px; }
    .backProject .pledge div h4, .backProject .bamboo div h4, .backProject .black div h4, .backProject .mahogany div h4 {
      display: inline-block;
      margin-left: 60px;
      position: relative;
      top: -5px; }
      .backProject .pledge div h4 span, .backProject .bamboo div h4 span, .backProject .black div h4 span, .backProject .mahogany div h4 span {
        font-size: 15px;
        margin-left: 2px; }
    .backProject .pledge div:hover i, .backProject .pledge div:hover h4, .backProject .bamboo div:hover i, .backProject .bamboo div:hover h4, .backProject .black div:hover i, .backProject .black div:hover h4, .backProject .mahogany div:hover i, .backProject .mahogany div:hover h4 {
      color: #3cb4ac;
      opacity: 1; }
    .backProject .pledge .hidden-pledge, .backProject .pledge .hidden-bamboo, .backProject .pledge .hidden-black, .backProject .bamboo .hidden-pledge, .backProject .bamboo .hidden-bamboo, .backProject .bamboo .hidden-black, .backProject .black .hidden-pledge, .backProject .black .hidden-bamboo, .backProject .black .hidden-black, .backProject .mahogany .hidden-pledge, .backProject .mahogany .hidden-bamboo, .backProject .mahogany .hidden-black {
      display: none; }
      .backProject .pledge .hidden-pledge hr, .backProject .pledge .hidden-bamboo hr, .backProject .pledge .hidden-black hr, .backProject .bamboo .hidden-pledge hr, .backProject .bamboo .hidden-bamboo hr, .backProject .bamboo .hidden-black hr, .backProject .black .hidden-pledge hr, .backProject .black .hidden-bamboo hr, .backProject .black .hidden-black hr, .backProject .mahogany .hidden-pledge hr, .backProject .mahogany .hidden-bamboo hr, .backProject .mahogany .hidden-black hr {
        margin-top: 40px;
        width: 100%;
        border: 0.2px solid #7a7a7a; }
      .backProject .pledge .hidden-pledge h5, .backProject .pledge .hidden-bamboo h5, .backProject .pledge .hidden-black h5, .backProject .bamboo .hidden-pledge h5, .backProject .bamboo .hidden-bamboo h5, .backProject .bamboo .hidden-black h5, .backProject .black .hidden-pledge h5, .backProject .black .hidden-bamboo h5, .backProject .black .hidden-black h5, .backProject .mahogany .hidden-pledge h5, .backProject .mahogany .hidden-bamboo h5, .backProject .mahogany .hidden-black h5 {
        font-size: 18px;
        color: #7a7a7a;
        position: absolute;
        margin-top: 25px; }
      .backProject .pledge .hidden-pledge input, .backProject .pledge .hidden-bamboo input, .backProject .pledge .hidden-black input, .backProject .bamboo .hidden-pledge input, .backProject .bamboo .hidden-bamboo input, .backProject .bamboo .hidden-black input, .backProject .black .hidden-pledge input, .backProject .black .hidden-bamboo input, .backProject .black .hidden-black input, .backProject .mahogany .hidden-pledge input, .backProject .mahogany .hidden-bamboo input, .backProject .mahogany .hidden-black input {
        display: inline-block;
        padding-left: 5px;
        width: 80px;
        height: 40px;
        border-radius: 120px;
        border: 0.2px solid #7a7a7a;
        float: right;
        position: relative;
        top: 20px;
        opacity: 0.2; }
      .backProject .pledge .hidden-pledge button, .backProject .pledge .hidden-bamboo button, .backProject .pledge .hidden-black button, .backProject .bamboo .hidden-pledge button, .backProject .bamboo .hidden-bamboo button, .backProject .bamboo .hidden-black button, .backProject .black .hidden-pledge button, .backProject .black .hidden-bamboo button, .backProject .black .hidden-black button, .backProject .mahogany .hidden-pledge button, .backProject .mahogany .hidden-bamboo button, .backProject .mahogany .hidden-black button {
        background-color: #3cb4ac;
        border-radius: 120px;
        border: 1px solid white;
        text-align: center;
        transition: all 0.3s ease-in-out;
        color: white;
        transition: 0s all ease-in-out;
        position: relative;
        top: 20px;
        left: 10px;
        width: 120px;
        height: 40px;
        float: right; }
  .backProject .mahogany {
    margin-top: 50px;
    width: 90%;
    height: 200px;
    border: 0.5px solid #7a7a7a;
    cursor: pointer;
    padding-left: 30px;
    padding: 20px;
    opacity: 0.2; }
    .backProject .mahogany p {
      margin-top: 10px;
      margin-left: 60px; }
    .backProject .mahogany div i {
      opacity: 1;
      font-size: 30px;
      color: #dddddd; }
    .backProject .mahogany div #circle-inside-pledge, .backProject .mahogany div #circle-inside-bamboo, .backProject .mahogany div #circle-inside-black, .backProject .mahogany div #circle-inside-mahogany {
      display: none;
      opacity: 1;
      z-index: 10000;
      color: #3cb4ac;
      font-size: 18px;
      position: absolute;
      margin-top: -24px;
      margin-left: 6px; }
    .backProject .mahogany div h4:first-of-type {
      display: inline-block;
      position: relative;
      top: -5px;
      margin-left: 30px; }
    .backProject .mahogany div label {
      color: #3cb4ac;
      display: inline-block;
      margin-left: 20px;
      position: relative;
      top: -5px; }
    .backProject .mahogany div h4 {
      display: inline-block;
      margin-left: 60px;
      position: relative;
      top: -5px; }
      .backProject .mahogany div h4 span {
        font-size: 15px;
        margin-left: 2px; }
    .backProject .mahogany div:hover i, .backProject .mahogany div:hover h4 {
      color: #3cb4ac;
      opacity: 1; }
    .backProject .mahogany .hidden-pledge, .backProject .mahogany .hidden-bamboo, .backProject .mahogany .hidden-black {
      display: none; }
      .backProject .mahogany .hidden-pledge hr, .backProject .mahogany .hidden-bamboo hr, .backProject .mahogany .hidden-black hr {
        margin-top: 40px;
        width: 100%;
        border: 0.2px solid #7a7a7a; }
      .backProject .mahogany .hidden-pledge h5, .backProject .mahogany .hidden-bamboo h5, .backProject .mahogany .hidden-black h5 {
        font-size: 18px;
        color: #7a7a7a;
        position: absolute;
        margin-top: 25px; }
      .backProject .mahogany .hidden-pledge input, .backProject .mahogany .hidden-bamboo input, .backProject .mahogany .hidden-black input {
        display: inline-block;
        padding-left: 5px;
        width: 80px;
        height: 40px;
        border-radius: 120px;
        border: 0.2px solid #7a7a7a;
        float: right;
        position: relative;
        top: 20px;
        opacity: 0.2; }
      .backProject .mahogany .hidden-pledge button, .backProject .mahogany .hidden-bamboo button, .backProject .mahogany .hidden-black button {
        background-color: #3cb4ac;
        border-radius: 120px;
        border: 1px solid white;
        text-align: center;
        transition: all 0.3s ease-in-out;
        color: white;
        transition: 0s all ease-in-out;
        position: relative;
        top: 20px;
        left: 10px;
        width: 120px;
        height: 40px;
        float: right; }

/* small devices */
@media (max-width: 1000px) {
  h1 {
    font-size: 25.6px;
    color: black; }

  h2 {
    font-size: 20.8px;
    color: black; }

  h3 {
    font-size: 16px;
    color: black; }

  h4 {
    font-size: 14px;
    color: black; }

  /* header */
  header {
    background: url(../images/image-hero-mobile.jpg);
    padding-left: 20px;
    padding: 20px; }
    header nav {
      display: none; }
    header .burger {
      display: block;
      visibility: visible;
      height: 25px;
      width: 35px;
      margin-top: 5px;
      position: relative;
      cursor: pointer; }
    header .close {
      display: none;
      visibility: visible;
      cursor: pointer;
      height: 25px;
      width: 40px;
      opacity: 1;
      margin-top: 5px;
      position: relative; }
    header .close:hover {
      opacity: 1; }
    header .inside-burger {
      display: none;
      visibility: visible;
      text-align: center;
      position: absolute;
      top: 40px;
      left: 10%;
      margin: 50px auto;
      width: 80%;
      height: 250px;
      padding: 20px;
      background-color: #efefef;
      border-radius: 20px;
      box-shadow: 0px 0px 40px #3cb4ac;
      animation: showdiv 1s ease-in-out 0s 1 normal forwards; }
      header .inside-burger li {
        list-style-type: none;
        margin-top: 40px; }
        header .inside-burger li a {
          color: black;
          text-decoration: none;
          transition: all 0.3s ease-in-out; }
        header .inside-burger li a:hover {
          color: #3cb4ac;
          border-bottom: 4px solid #3cb4ac;
          padding-bottom: 15px; }
    header .inside-burger2 {
      display: none;
      visibility: visible;
      text-align: center;
      position: absolute;
      top: 40px;
      left: 10%;
      margin: 50px auto;
      width: 80%;
      height: 250px;
      padding: 20px;
      background-color: #efefef;
      border-radius: 20px;
      box-shadow: 0px 0px 40px #3cb4ac;
      animation: closediv 0.4s ease-in-out 0s 1 normal forwards; }
      header .inside-burger2 li {
        list-style-type: none;
        margin-top: 40px; }
        header .inside-burger2 li a {
          color: black;
          text-decoration: none;
          transition: all 0.3s ease-in-out; }
        header .inside-burger2 li a:hover {
          color: #3cb4ac;
          border-bottom: 4px solid #3cb4ac;
          padding-bottom: 15px; }
  @keyframes showdiv {
    0% {
      margin-top: -300px; }
    25% {
      margin-top: 50px; }
    50% {
      margin-top: 20px; }
    75% {
      margin-top: 60px; }
    100% {
      margin-top: 50px; } }
  @keyframes closediv {
    from {
      margin-top: 50px; }
    to {
      margin-top: -600px; } }
  /* section 1 */
  .mastercraft {
    margin: 50px auto;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 0px 0.05px #7a7a7a;
    height: 360px;
    width: 90%;
    text-align: center;
    margin-top: -100px; }
    .mastercraft .buttons {
      column-gap: 0px;
      margin-left: -40px; }
      .mastercraft .buttons div:nth-of-type(2) {
        /*	background: url("../images/icon-bookmark.svg") 10px 10px no-repeat;  */
        width: 30px; }
        .mastercraft .buttons div:nth-of-type(2) button {
          display: none; }
      .mastercraft .buttons div:last-of-type {
        width: 30px; }
        .mastercraft .buttons div:last-of-type button {
          display: none; }

  /* section 2 */
  .numbers {
    margin: 50px auto;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 0px 0.05px #7a7a7a;
    height: 590px;
    width: 90%;
    margin-top: 50px;
    text-align: center; }
    .numbers .price {
      display: block; }
      .numbers .price div:first-of-type {
        margin-top: 5%; }
      .numbers .price div:nth-of-type(2), .numbers .price div:last-of-type {
        position: relative;
        top: -20px;
        margin-left: 0%; }
      .numbers .price hr:first-of-type {
        position: relative;
        top: -20px; }
      .numbers .price hr {
        width: 90px;
        height: 0px;
        border: 1px solid #7a7a7a;
        position: relative;
        top: -40px;
        margin-left: 0%;
        margin: 50px auto;
        text-align: center; }
    .numbers .input {
      margin-top: -50px; }

  /* section 3 */
  .about-project {
    margin: 50px auto;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 0px 0.05px #7a7a7a;
    height: 1500px;
    width: 90%;
    margin-top: 50px;
    padding-left: 5%; }
    .about-project article {
      margin: 50px auto;
      width: 60%;
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 0px 0px 0.05px #7a7a7a;
      height: 420px;
      width: 100%;
      margin-top: 40px;
      padding: 40px;
      box-shadow: 0px 0px 0px 0.25px #7a7a7a; }
      .about-project article div {
        display: block; }

  /* hidden divs */
  /* back this project */
  .backProject {
    display: none;
    visibility: visible;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 10%;
    margin: 50px auto;
    width: 80%;
    height: 250px;
    padding: 20px;
    background-color: #efefef;
    border-radius: 20px;
    box-shadow: 0px 0px 40px #3cb4ac;
    visibility: visible;
    width: 90%;
    position: absolute;
    top: 170px;
    left: 5%;
    padding-left: 20px;
    height: 1400px;
    text-align: left;
    box-shadow: 0px 0px 10px #3cb4ac;
    animation: showReward 0.5s ease-in-out normal forwards; }
    .backProject li {
      list-style-type: none;
      margin-top: 40px; }
      .backProject li a {
        color: black;
        text-decoration: none;
        transition: all 0.3s ease-in-out; }
      .backProject li a:hover {
        color: #3cb4ac;
        border-bottom: 4px solid #3cb4ac;
        padding-bottom: 15px; }
    .backProject p {
      font-size: 13px; }
    .backProject img {
      margin-top: -95px;
      margin-right: 2%; }
    .backProject .pledge, .backProject .bamboo, .backProject .black {
      margin-top: 50px;
      width: 90%;
      height: 200px;
      border: 0.5px solid #7a7a7a;
      cursor: pointer;
      padding-left: 30px;
      padding: 20px;
      height: 270px; }
      .backProject .pledge p, .backProject .bamboo p, .backProject .black p {
        margin-top: 10px;
        margin-left: 60px; }
      .backProject .pledge div i, .backProject .bamboo div i, .backProject .black div i {
        opacity: 1;
        font-size: 30px;
        color: #dddddd; }
      .backProject .pledge div #circle-inside-pledge, .backProject .pledge div #circle-inside-bamboo, .backProject .pledge div #circle-inside-black, .backProject .pledge div #circle-inside-mahogany, .backProject .bamboo div #circle-inside-pledge, .backProject .bamboo div #circle-inside-bamboo, .backProject .bamboo div #circle-inside-black, .backProject .bamboo div #circle-inside-mahogany, .backProject .black div #circle-inside-pledge, .backProject .black div #circle-inside-bamboo, .backProject .black div #circle-inside-black, .backProject .black div #circle-inside-mahogany {
        display: none;
        opacity: 1;
        z-index: 10000;
        color: #3cb4ac;
        font-size: 18px;
        position: absolute;
        margin-top: -24px;
        margin-left: 6px; }
      .backProject .pledge div h4:first-of-type, .backProject .bamboo div h4:first-of-type, .backProject .black div h4:first-of-type {
        display: inline-block;
        position: relative;
        top: -5px;
        margin-left: 30px; }
      .backProject .pledge div label, .backProject .bamboo div label, .backProject .black div label {
        color: #3cb4ac;
        display: inline-block;
        margin-left: 20px;
        position: relative;
        top: -5px; }
      .backProject .pledge div h4, .backProject .bamboo div h4, .backProject .black div h4 {
        display: inline-block;
        margin-left: 60px;
        position: relative;
        top: -5px; }
        .backProject .pledge div h4 span, .backProject .bamboo div h4 span, .backProject .black div h4 span {
          font-size: 15px;
          margin-left: 2px; }
      .backProject .pledge div:hover i, .backProject .pledge div:hover h4, .backProject .bamboo div:hover i, .backProject .bamboo div:hover h4, .backProject .black div:hover i, .backProject .black div:hover h4 {
        color: #3cb4ac;
        opacity: 1; }
      .backProject .pledge .hidden-pledge, .backProject .pledge .hidden-bamboo, .backProject .pledge .hidden-black, .backProject .bamboo .hidden-pledge, .backProject .bamboo .hidden-bamboo, .backProject .bamboo .hidden-black, .backProject .black .hidden-pledge, .backProject .black .hidden-bamboo, .backProject .black .hidden-black {
        display: none; }
        .backProject .pledge .hidden-pledge hr, .backProject .pledge .hidden-bamboo hr, .backProject .pledge .hidden-black hr, .backProject .bamboo .hidden-pledge hr, .backProject .bamboo .hidden-bamboo hr, .backProject .bamboo .hidden-black hr, .backProject .black .hidden-pledge hr, .backProject .black .hidden-bamboo hr, .backProject .black .hidden-black hr {
          margin-top: 40px;
          width: 100%;
          border: 0.2px solid #7a7a7a; }
        .backProject .pledge .hidden-pledge h5, .backProject .pledge .hidden-bamboo h5, .backProject .pledge .hidden-black h5, .backProject .bamboo .hidden-pledge h5, .backProject .bamboo .hidden-bamboo h5, .backProject .bamboo .hidden-black h5, .backProject .black .hidden-pledge h5, .backProject .black .hidden-bamboo h5, .backProject .black .hidden-black h5 {
          font-size: 18px;
          color: #7a7a7a;
          position: absolute;
          margin-top: 25px; }
        .backProject .pledge .hidden-pledge input, .backProject .pledge .hidden-bamboo input, .backProject .pledge .hidden-black input, .backProject .bamboo .hidden-pledge input, .backProject .bamboo .hidden-bamboo input, .backProject .bamboo .hidden-black input, .backProject .black .hidden-pledge input, .backProject .black .hidden-bamboo input, .backProject .black .hidden-black input {
          display: inline-block;
          padding-left: 5px;
          width: 80px;
          height: 40px;
          border-radius: 120px;
          border: 0.2px solid #7a7a7a;
          float: right;
          position: relative;
          top: 20px;
          opacity: 0.2; }
        .backProject .pledge .hidden-pledge button, .backProject .pledge .hidden-bamboo button, .backProject .pledge .hidden-black button, .backProject .bamboo .hidden-pledge button, .backProject .bamboo .hidden-bamboo button, .backProject .bamboo .hidden-black button, .backProject .black .hidden-pledge button, .backProject .black .hidden-bamboo button, .backProject .black .hidden-black button {
          background-color: #3cb4ac;
          border-radius: 120px;
          border: 1px solid white;
          text-align: center;
          transition: all 0.3s ease-in-out;
          color: white;
          transition: 0s all ease-in-out;
          position: relative;
          top: 20px;
          left: 10px;
          width: 120px;
          height: 40px;
          float: right; }
      .backProject .pledge .hidden-pledge h5, .backProject .pledge .hidden-bamboo h5, .backProject .pledge .hidden-black h5, .backProject .bamboo .hidden-pledge h5, .backProject .bamboo .hidden-bamboo h5, .backProject .bamboo .hidden-black h5, .backProject .black .hidden-pledge h5, .backProject .black .hidden-bamboo h5, .backProject .black .hidden-black h5 {
        font-size: 14px; }
      .backProject .pledge .hidden-pledge input, .backProject .pledge .hidden-bamboo input, .backProject .pledge .hidden-black input, .backProject .bamboo .hidden-pledge input, .backProject .bamboo .hidden-bamboo input, .backProject .bamboo .hidden-black input, .backProject .black .hidden-pledge input, .backProject .black .hidden-bamboo input, .backProject .black .hidden-black input {
        width: 60px; }
      .backProject .pledge .hidden-pledge button, .backProject .pledge .hidden-bamboo button, .backProject .pledge .hidden-black button, .backProject .bamboo .hidden-pledge button, .backProject .bamboo .hidden-bamboo button, .backProject .bamboo .hidden-black button, .backProject .black .hidden-pledge button, .backProject .black .hidden-bamboo button, .backProject .black .hidden-black button {
        width: 100px; }
    .backProject .mahogany {
      margin-top: 50px;
      width: 90%;
      height: 200px;
      border: 0.5px solid #7a7a7a;
      cursor: pointer;
      padding-left: 30px;
      padding: 20px;
      height: 270px;
      opacity: 0.2; }
      .backProject .mahogany p {
        margin-top: 10px;
        margin-left: 60px; }
      .backProject .mahogany div i {
        opacity: 1;
        font-size: 30px;
        color: #dddddd; }
      .backProject .mahogany div #circle-inside-pledge, .backProject .mahogany div #circle-inside-bamboo, .backProject .mahogany div #circle-inside-black, .backProject .mahogany div #circle-inside-mahogany {
        display: none;
        opacity: 1;
        z-index: 10000;
        color: #3cb4ac;
        font-size: 18px;
        position: absolute;
        margin-top: -24px;
        margin-left: 6px; }
      .backProject .mahogany div h4:first-of-type {
        display: inline-block;
        position: relative;
        top: -5px;
        margin-left: 30px; }
      .backProject .mahogany div label {
        color: #3cb4ac;
        display: inline-block;
        margin-left: 20px;
        position: relative;
        top: -5px; }
      .backProject .mahogany div h4 {
        display: inline-block;
        margin-left: 60px;
        position: relative;
        top: -5px; }
        .backProject .mahogany div h4 span {
          font-size: 15px;
          margin-left: 2px; }
      .backProject .mahogany div:hover i, .backProject .mahogany div:hover h4 {
        color: #3cb4ac;
        opacity: 1; }
      .backProject .mahogany .hidden-pledge, .backProject .mahogany .hidden-bamboo, .backProject .mahogany .hidden-black {
        display: none; }
        .backProject .mahogany .hidden-pledge hr, .backProject .mahogany .hidden-bamboo hr, .backProject .mahogany .hidden-black hr {
          margin-top: 40px;
          width: 100%;
          border: 0.2px solid #7a7a7a; }
        .backProject .mahogany .hidden-pledge h5, .backProject .mahogany .hidden-bamboo h5, .backProject .mahogany .hidden-black h5 {
          font-size: 18px;
          color: #7a7a7a;
          position: absolute;
          margin-top: 25px; }
        .backProject .mahogany .hidden-pledge input, .backProject .mahogany .hidden-bamboo input, .backProject .mahogany .hidden-black input {
          display: inline-block;
          padding-left: 5px;
          width: 80px;
          height: 40px;
          border-radius: 120px;
          border: 0.2px solid #7a7a7a;
          float: right;
          position: relative;
          top: 20px;
          opacity: 0.2; }
        .backProject .mahogany .hidden-pledge button, .backProject .mahogany .hidden-bamboo button, .backProject .mahogany .hidden-black button {
          background-color: #3cb4ac;
          border-radius: 120px;
          border: 1px solid white;
          text-align: center;
          transition: all 0.3s ease-in-out;
          color: white;
          transition: 0s all ease-in-out;
          position: relative;
          top: 20px;
          left: 10px;
          width: 120px;
          height: 40px;
          float: right; } }

/*# sourceMappingURL=style.css.map */
